body {
    font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
#home {
    background-color: #8fbc8f;
}
.social-icon-item {
    margin-right:0.5rem;
}
footer {
    border-top:1px solid #f2f2f4;
}

.nav {
    float: right;
}
.products > div {
    padding:1rem;
 }
.products {
    background-color:darkseagreen;
    // Use ampersand to specify the parent selector.
    &:nth-child(2) {
        background-color:bisque;
    }
    &:last-child {
        background-color:antiquewhite;
    }
}
.ex-offset {
    background-color:pink;
    height:300px;
    background-image:url("../images/packman.png");
    background-size:contain;
    background-repeat: no-repeat;
}
// Slider:
#slider-wrapper {
    margin-bottom: 2rem;
}
// Tooltips:
#text-tooltips {
    padding-top:2rem; 
}
// Form:
#registration-form {
    padding:2rem 1rem;
}

@media screen and (max-width:576px) {
    .nav {
        float: none;
    }
    .navbar-toggler {
        float: right;
    }
    .navbar-toggleable-xs {
        clear: both;
    }
    .navbar-nav .nav-item {
        float: none;
    }
    .navbar-nav .nav-item+.nav-item {
        margin-left: 0;
    }
}